@{
    Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>@Html.DisplayFor(model => model.Name)'s Registration Information</h2>
<hr/>
<h3>Enrollment Date: @Html.DisplayFor(model => model.EnrollmentDate)</h3>

<p>@Html.ActionLink("Student Roster", "Index") | @Html.ActionLink("Update Information", "Edit", new { id = Model.StudentId }) | @Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>