@{
    Layout = "_Layout";
}

@model Registrar.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Code)
    @Html.TextBoxFor(model => model.Code)

    <input type="submit" value="Add a new course & course number">
}
<p>@Html.ActionLink("Show all courses", "Index")</p>